/**
 * UTILITY
 */
// 320px, 576px, 768px, 992px, 1200px, 1440px
.cc-container {
  margin: 0 auto;
  width: 100%; 
  @include screen-min(576px){max-width: 500px;}
  @include screen-min(768px){max-width: 700px;}
  @include screen-min(992px){max-width: 800px;}
  @include screen-min(1200px){max-width: 800px;}
}
.cc-padding {
  padding: 25px;
  font-size: 16px;
}
.cc-card {
  border: 3px solid black;
  border-radius: 20px;
  // background-color: hsl(10,10,10);
  background-color: hsl(0,0,10);
  width: 100%;
}

/**
 * HEADER SPECIFIC
 */
.cc-logo-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top-right-radius: 3px;
  border-top-left-radius:3px;
  // background-color: black;
  img {
    background-color: hsla(0,0,0,0.5);
  }
  img {
    display: block;
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
}
.cc-navbar {
  display: flex;
  height: 40px;
  // background-color: black;
  width: 100%;
  justify-content: space-between;
}
.cc-navbar-background {
  background-color: rgba(black,0.8);
  position: fixed;
  width: 100%;
}
.cc-navitem:first-of-type {
  flex-grow: 1;
}
.cc-navitem {

}
.cc-navlink {
  display: inline-block;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: gray;
  }
}

/**
 * THE PEOPLE AND INTRO
 */
.cc-intro {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cc-portraits {
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px dotted white;
  padding-top: 20px;
}
.cc-portrait:first-of-type {
  border-bottom-left-radius: 20px;
}
.cc-portrait:last-of-type {
  border-bottom-right-radius: 20px;
}
.cc-portrait {
  display: flex;
  width: 50%;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  @include screen-max(768px){
    // flex-direction: column;
  }
  img {
    width: 100%;
    // max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .img-wrapper {
    max-width: 200px;
  }
  .desc-wrapper {

  }
  .footer {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(56,56,56);
    display: flex;
  }
  .header {

  }
}

/**
 * THE MENU
 */
.cc-podcast-wrapper {
  // nothing
}
.podcast-wrapper {
  cursor: pointer;
  position: relative;
  padding-left: 80px;
  // &:hover {
  //   transition: 0.3s;
  //   border: 2px solid white;
  // }
  transition: 1.2s;
  &:hover {
    transform: scale(1.05);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    z-index: -2; // to make the link clickable above it
  }

  svg rect {
    stroke: white;
    width: 100%;
    height: 100%;
    stroke-width:0;
    transition: 1.2s;
    stroke-dasharray: 400%;
    stroke-dashoffset:900;
  }

  &:hover svg rect {
    stroke-width: 6;
    stroke-dashoffset: 0;
  }

  // .menu-header {
  //   hr {
  //     width: 100%;
  //     background-color: white;
  //   }    
  // }

  .podcast-episode {
    display: flex;
    flex-direction: column;
    // border: 1px solid gray;

  }
  a {
    color: white;
    text-decoration: none;
  }
  .podcast-title {
    font-size: 24px;
  }
  .short-description {
    font-size: 18px;
  }
}



/* Paging Container */

.paging-container {
  a {
    color: white;
    font-size: 24px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.layout-container {
}

.footer {
  border-top: 3px solid white;
  margin-top: 80px;
  background-color: #1a1a1a;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 40px;
}