body {
  // background-color: $dark-9;
  background-image: radial-gradient(circle, #575757, #414141, #2d2d2d, #1a1a1a, #000000);
  color: white;
}

/**
 * UTILITY
 */
// 320px, 576px, 768px, 992px, 1200px, 1440px
.cc-container {
  margin: 0 auto;
  width: 100%; /* was 550px*/
  @include screen-min(576px){max-width: 500px;}
  @include screen-min(768px){max-width: 700px;}
  @include screen-min(992px){max-width: 900px;}
  @include screen-min(1200px){max-width: 1100px;}
}
.cc-padding {
  // display: flex;
  // position: relative;
  padding: 15px;
  font-size: 16px;
  // border: 2px solid #47CAB0;
}
.cc-card {
  // border: 2px solid $yellow-6;
  border: 3px solid black;
  border-radius: 20px;
  background-color: hsl(10,10,10);
  // background-color: darkgray;
  max-width: 700px
}

/**
 * HEADER SPECIFIC
 */

// .topnav {
//   // background-color: #131313;
// }
.cc-logo-hero {
  // display: flex;
  // width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  img {
    display: block;
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
  // background-color: #202020;
}
.cc-logo-wrapper {
  // width: 500px;
  // height: auto;
}
.cc-navbar {
  display: flex;
  height: 40px;
  // background-color: black;
  width: 100%;
  justify-content: space-between;
}
.cc-navbar-background {
  background-color: rgba(black,0.4);
}
.cc-navitem:first-of-type {
  flex-grow: 1;
}
.cc-navitem {

}
.cc-navlink {
  display: inline-block;
  padding: 10px;
  height: 100%;
  &:hover {
    background-color: gray;
  }
}

// .cc-section {
//   max-width: 900px;
// }

/**
 * THE PEOPLE AND INTRO
 */
.cc-intro {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  // margin-bottom: 30px;
}

.mb-0 {
  margin-bottom: 0px;
}
.cc-portraits {
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px dotted white;
  padding-top: 20px;
}
.cc-portrait:first-of-type {
  border-bottom-left-radius: 20px;
}
.cc-portrait:last-of-type {
  border-bottom-right-radius: 20px;
}
.cc-portrait {
  display: flex;
  width: 50%;
  min-height: 100px;
  // padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  @include screen-max(768px){
    // flex-direction: column;
  }
  // .left{
  //   max-width: 100px;
  //   margin-right: 20px;
  //   margin-bottom: 10px;
  //   display: flex;
  //   justify-content: center;
  // }
  img {
    width: 100%;
    // max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  // .right {
  //   width: 100%;
  //   margin-bottom: 10px;
  // }
  .img-wrapper {
    max-width: 200px;
  }
  .desc-wrapper {

  }
  .footer {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(56,56,56);
    display: flex;
  }
  .header {

  }
}

/**
 * THE MENU
 */
.cc-menu {
  // border: 2px solid $yellow-6;
  // border: 3px solid gray;
  // border-radius: 20px;
  // background-color: black;
  // max-width: 700px;
  .menu-header {
    hr {
      width: 100%;
      background-color: white;
    }    
  }
  .podcast-wrapper {
  }
  .podcast-episode {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
  }
}








// body {
//   background-color: $black;
//   color: white;
// }

// .custom-menu {
//   margin-top: 200px;
//   background-color: $beige-5;
//   color: $gray-8;
//   border-radius: 50px;
//   min-height: 500px;
//   max-width: 900px;
//   position: relative;
//   border: 12px solid $gray-5;

//   &__header {
//     // border: 1px solid red;
//     min-height: 200px;
//     border-top-left-radius: 50px;
//     border-top-right-radius: 50px;
//   }
//   &__sticker {
//     background-image: url('../assets/diner_logo.svg');
//     width: 260px;
//     height: 161px;
//     position: absolute;
//     left: calc(50% - 130px);
//     top: -35px;
//     .header {
//       text-align: center;
//       margin-top: 15px;
//       color: $beige-5;
//     }
//     .subheader {
//       text-align: center;
//       color: $beige-5;
//       font-size: 45px;
//     }
//     // img {
//     //   position: absolute;
//     //   left: calc(50% - 130px);
//     //   top: -35px;
//     // }
//     // .header {
//     //   text-align: center;
//     //   position: absolute;
//     //   left: calc(50%);
//     //   top: -35px;
//     // }
//   }
//   &__lines {
//     padding-top: 30px;
//     hr {
//       margin-top: 8px;
//       margin-bottom: 0px;
//       background-color: $pink-5;
//       height: 2px;
//       width: 100%;
//     }
//   }
//   &__panes {
//     display: flex;
//   }
//   // &__left {
//   //   width: 40%;
//   //   border: 1px solid blue;
//   // }
//   // &__right {
//   //   width: 60%;
//   //   border: 1px solid blue;
//   // }
//   .podcast-episode {
//     display: flex;
//     border: 1px solid green;
//   }

//   // .podcast-shownotes {
    
//   // }
// }