/**
 * Typography classes
 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/**
 * Boxshadows
 */
 .box-shadow-default {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.box-shadow-thin {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

/**
 * Positioning
 */
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.color-white {
  color:white;
}

.color-offgray {
  color: $gray-35;
}

/*
 * Cursors
 */
.cursor-pointer {
  cursor: pointer;
}

/**
 * Text Sizes
 */
.text-20 {
  font-size: 20px;
}
.text-21 {
  font-size: 21px;
}
.text-22 {
  font-size: 22px;
}