// Color Pallete based on https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9;
$oxford-blue: hsl(225, 40, 18);
$space-cadet: hsl(225, 40, 18);
$independence: hsl(213, 30, 32);
$max-blue-green: hsl(179, 44, 55);
$turquoise-blue: hsl(171, 100, 72);